#tab1 .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#inputArea{
    margin-bottom: 1em;
}

#inputMessage{
    resize: none;
}

.row.g-3{
    justify-content: flex-end;
}

#messageBoard{
    overflow-y: auto;

    height: 100%;
    padding: 3%;
    border-radius: 0.75rem;
    background-color: #596D52;
}

#messageBoard .alert{
    text-align: left;
}

.msg{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rightAligned{
    text-align: left;
    font-weight : bold;
}